.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  top: 0px;
  height: 10vh;
  width: 85vw;
  padding-left: 20px;
  padding-right: 20px;
}

.header a {
  text-decoration: none;
  color: white;
}

.adoptionContainer {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90vw;
}

.links {
  display: flex;
  flex-direction: row;
}
.links p{
  margin: 5px;
}
.links p:after{
  content: ' |'
}

img {
  max-width: 40vw;
  margin: 20px;
}
